/* ------mulish font family form by google fobts----- */

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* -----common css start----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    max-width: 1280px;
}

h1,
h2,
h3,
h5,
a,
p {
    font-family: "Mulish", sans-serif;
}
p{
    font-size: 16px;
}

/* -----common css end------ */

/* -----nav css end------ */

.nav-hero{
    display: flex;
    align-items: center;
}
.nav-title{
    display: flex;
    gap: 25px;
    width: 50%;
    align-items: center;
}
.nav-title img{
    height: 60px;
    width: 50px;
}
.description{
    font-size: 36px;
}
.nav-title .wave{
    color: #FF5400;    
}

.nav-link{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.nav-link a{
    font-size: 18px;
    color: #424247;
    text-decoration: none;
}
.home{
    color: #FF5400 !important;
}

/* -----nav css end------ */

/* -----babber css start------ */

.banner{
    position: relative;
}
.banner-title{
    position: absolute;
    
}
.banner-title h1{
    font-size: 64px;
}
.input-feild input{
    padding: 15px 20px;
}
.input-feild{
    width: 800px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}
.arrow i{
    position: absolute;
    padding-top: 18px;
    transform: translateX(-30px);
}
/* -----banner css end------ */


/* -----common css end------ */
/* -----common css end------ */